.states-list {
    li {
        flex-grow: 1;
       
        button {
            background-color: transparent;
            position: relative;
            border: 0;
            padding: 16px 16px 16px 33px;

            .icon {
                position: absolute;
                right: 5px;
                z-index: 998;
                top: 5px;
            }

            @media (max-width: 991px) {
                padding: 8px 16px 8px 28px;
                .icon {
                    width: 10px;
                    height: 10px;
                }
            }

            @media (max-width: 767px) {
                font-size: 10px;
                padding: 4px 8px 4px 15px;
                .icon {
                    display: none;
                }
            }

            &.is-active {
                background-color: #0156d9;
                color: #fff;
            }


           
        }


        &:not(:last-of-type) {
            button {
                &:after {
                    content: '';
                    top: 50%;
                    right: -17px;
                    background-color: #ffffff;
                    height: 32px;
                    width: 32px;

                    @media (max-width: 991px) {
                        right: -12px;
                        height: 21px;
                        width: 21px;
                    }

                    @media (max-width: 767px) {
                        right: -7px;
                        height: 12px;
                        width: 12px;
                    }
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent #b2b2b2 #b2b2b2 transparent;
                    transform: translate(0,-50%) rotate(-45deg);
                    display: inline-block;
                    position: absolute;
                    z-index: 997;
                }
                &.is-active {
                    &:after {
                        background-color: #0156d9;
                    }
                }
            }
        }
    }
}