.employee-card {
    @media (max-width: 991px) {
        img {
            width: 150px;
            height: 150px;
        }
    }
    
    @media (max-width: 767px) {
        flex-direction: column;
        img {
            width: 100%;
            height: auto;
        }
    }
}